{% extends 'base.html' %}
{% block content %}
<!-- Main Content -->
<main class="page-product">
    <div class="container">
        <!-- Product Info Section -->
        <section class="product-details-section">
            <div class="product-image-container">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
            </div>
            <div class="product-info-column">
                <div class="product-title-price">
                    <h1 class="product-name">{{ product.name }}</h1>
                    <div class="price-section">
                        <span class="price-tag">per {{ product.unit }}</span>
                        <p class="product-price">${{ product.price }}</p>
                    </div>
                </div>
                <div class="product-description">
                    <p>{{ product.description|linebreaks }}</p>
                </div>

                <div class="cart-controls"
                     data-product-id = "{{ product.id }}"
                     data-product-slug = "{{ product.slug }}"
                     data-quantity = "{{ cart_item.quantity|default:0 }}"
                     data-add-cart-url="{% url 'orders:add_to_cart' product.slug %}">

                    {% csrf_token%}

                    <button class="button button--primary add-to-cart-button" id="add-to-cart-btn">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span>Add to Cart</span>
                    </button>

                    <div class="quantity-counter {% if quantity_in_cart == 0 %}is-hidden{%endif%}" id="quantity-counter">
                        <button class="quantity-btn" data-action="decrease" aria-label="Decrease quantity"><i
                            class="fa-solid fa-minus"></i>
                        </button>
                        <span class="quantity-value">{{ cart_item.quantity|default:0 }} в корзине</span>
                        <button class="quantity-btn" data-action="increase" aria-label="Increase quantity"><i
                            class="fa-solid fa-plus"></i>
                        </button>
                    </div>

                </div>
            </div>
        </section>

        <!-- Technical Specifications Accordion -->
        <section class="accordion-section">
            <div class="accordion-item">
                <div class="accordion-title">
                    <h3>Technical Specifications</h3>
                    <i class="fa-solid fa-chevron-down accordion-icon"></i>
                </div>
                <div class="accordion-content">
                    <ul>
                        {% for spec in specs %}
                        <li><strong>{{ spec.spec_type }}:</strong> {{ spec.value }}</li>
                        {% empty %}
                        <li><strong>No spec found</strong></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <!-- Latest Reviews Section -->
        <section class="reviews-section">
            <h2 class="reviews-title">Latest reviews</h2>
            <div class="reviews-grid">
                {% for review in reviews %}
                    <div class="review-card">
                        <div class="review-rating">
                            {% for i in "12345" %}
                                {% if forloop.counter <= review.rating %}
                                    <i class="fa-solid fa-star"></i>
                                {% else %}
                                <i class="fa-regular fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="review-body">
                            <h4 class="review-heading">{{ review.comment }}</h4>
                            <p class="review-text">{{ review.detail }}</p>
                        </div>
                        <div class="review-author">
                            <img src="{{ review.user.image.url }}" alt="User avatar" class="author-avatar">
                            <span class="author-name">{{ review.user.name }}</span>
                        </div>
                    </div>

                {% empty %}
                <p>No reviews yet.</p>
                {% endfor %}

                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}